<!DOCTYPE HTML>
<html>
<head>
<title>KENEFA API</title>
<link rel="stylesheet" href="../css/styles.css" />
</head>

<body>

<div id="header">
    <span class="title">KENEFA API</span>
</div>
<div id="search" style="width:200px;">

</div>
<select id="searchCity"/>
<input type="text" id="searchKey" placeholder="Facility Name"/>
<button id="btnSearch">Search</button>

<div id="sidebar">

</div>

<div id="content">
<h2>Welcome to KENEFA API</h2>
</div>

<!-- Templates -->
<script type="text/template" id="tpl-AllCountry">
    <%= name %>
</script>

<script type="text/template" id="tpl-AllCity">
    <%= name %>
</script>

<script type="text/template" id="tpl-header">
	<button class="new">New Facility</button>
</script>

<script type="text/template" id="tpl-facility-list-item">
	<a href='#facilities/<%= id %>'><%= name %></a>
</script>

<script type="text/template" id="tpl-facility-details">

    <div class="form-left-col">
        <label>Id:</label>
        <input type="text" id="id" name="id" value="<%= id %>" disabled />
        <label>Name:</label>
        <input type="text" id="name" name="name" value="<%= name %>" required/>
        <label>Country:</label>
        <input type="text" id="country" name="country" value="<%= country %>"/>
        <label>City:</label>
        <input type="text" id="city" name="city"  value="<%= city %>"/>
        <button class="save">Save</button>
        <button class="delete">Delete</button>
    </div>

    <div class="form-right-col">
        <img height="300" src="../images/default.jpg"/>
        <label>Notes:</label>
        
    </div>

</script>

<!-- JavaScript -->
<script src="../lib/jquery-1.7.1.min.js"></script>
<script src="../lib/underscore-min.js"></script>
<script src="../lib/backbone-min.js"></script>
<script src="../js/facility-bb.js"></script>   

</body>
</html>